<div *ngIf="shopsDisplay ; then exist ; else not"></div>

<ng-template #exist>
  <div align="center">
    <mat-grid-list cols="4" [rowHeight]="400">
      <mat-grid-tile *ngFor="let shop of shopsDisplay" [colspan]="1" [rowspan]="1">
        <app-shops (messageEvent)="onMessageReceieve($event)" [PreferedShop]="preferdshop" [shopItem]='shop'></app-shops>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-template>

<ng-template #not>
  <div align="center">

    <h1> No
      <img src="../../assets/img/Shop.png" alt="Shop" /> Found </h1>

  </div>
</ng-template>
